<ng-container *ngIf="employee$ | async as employee">
  <app-card-employee-detail
    [fullName]="employee.fullName"
    [position]="employee.position"
    [avatarUrl]="employee.avatarUrl | placeholderImg"
  >
    <app-tabset-with-options [optionOne]="'Teams'" [optionTwo]="'Projects'">
      <app-tab-content [name]="'Teams'"> </app-tab-content>
    </app-tabset-with-options>

    <div class="row">
      <app-simple-card
        class="col-lg-6"
        *ngFor="let team of employee.teams"
        [title]="team.name"
        [subtitle]="
          team.numberOfProjects +
          ' Projects, ' +
          team.numberOfMembers +
          ' Members'
        "
        [id]="team.id"
      >
        <app-avatar-list [avatars]="team.members"></app-avatar-list>
      </app-simple-card>
    </div>
  </app-card-employee-detail>
</ng-container>
