<ng-container *ngIf="employee$ | async as employee">
  <app-card-employee-detail
    [fullName]="employee.fullName"
    [position]="employee.position"
    [avatarUrl]="employee.avatarUrl | placeholderImg"
  >
    <app-nav-tabs
      class="col-lg-11"
      [navTitleOne]="'Teams'"
      [navTitleTwo]="'Projects'"
    >
    </app-nav-tabs>
    <app-tab-content>
      <app-simple-card
        app-simple-card
        class="col-lg-6"
        *ngFor="let team of employee.teams"
        [title]="team.name"
        [subtitle]="
          team.numberOfProjects +
          ' Projects, ' +
          team.numberOfMembers +
          ' Members'
        "
        [redirectUrl]="'/teams/' + team.id"
      >
        <app-avatar-list
          appCursorPointer
          [avatars]="team.members"
        ></app-avatar-list>
      </app-simple-card>
      <app-card-project
        *ngFor="let project of employee.projects"
        class="col-lg-6"
        [title]="project.name"
        [dueDate]="project.dueDate | howManyDays"
        [checkListProject]="project.checkListProject"
        [completedTask]="project.completedTask"
      ></app-card-project>
    </app-tab-content>
  </app-card-employee-detail>
</ng-container>
