<app-card-employee-detail
  *ngFor="let employee of employeesList$ | async"
  [name]="employee.firstName + ' ' + employee.lastName"
  [position]="employee.position"
  [avatarUrl]="employee.avatarUrl | placeholderImg"
>
  <app-tabset-with-options [optionOne]="'Teams'" [optionTwo]="'Projects'">
  </app-tabset-with-options>
  <app-tab-content [name]="'Teams'">
    <div class="row">
      <app-simple-card
        *ngFor="let team of teamsList$ | async"
        [title]="team.name"
        [subtitle]="
          team.projects.length +
          ' Projects, ' +
          team.members.length +
          ' Members'
        "
        [id]="team.id"
      >
        <app-avatar-list
          *ngFor="let avatar of team.members"
          [avatarUrl]="avatar.avatarUrl"
          [id]="avatar.id"
        ></app-avatar-list>
      </app-simple-card>
    </div>
  </app-tab-content>
</app-card-employee-detail>
