<div class="content-list-body filter-list-1685165101667">
  <div class="col-lg-12">
    <div class="card-list-body">
      <div class="card card-task">
        <div class="progress">
          <div
            [appProgressBar]="statusItems"
            [maxValue]="maxNumberOfItems"
            class="progress-bar"
            role="progressbar"
          ></div>
        </div>
        <div class="card-body">
          <div class="card-title">
            <h6 data-filter-by="text" class="H6-filter-by-text">
              {{ name }}
            </h6>
            <span class="text-small">{{ dueDate }}</span>
          </div>
          <div class="card-meta">
            <ng-content></ng-content>
            <div class="d-flex align-items-center">
              <i class="material-icons">playlist_add_check</i>
              <span>{{ statusItems }}/{{ maxNumberOfItems }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
