<app-presentation
  [titleOfPage]="'Tasks'"
  [subtitleOfPage]="'You can browse through tasks below'"
>
  <app-card-with-avatar-and-checklist
    [appProgressBar]="item.statusItems"
    *ngFor="let item of tasksList$ | async"
    [name]="item.name"
    [dueDate]="item.dueDate | dateTransform"
    [maxNumberOfItems]="item.maxNumberOfItems"
    [statusItems]="item.statusItems"
    [maxValue]="item.maxNumberOfItems"
  >
    <app-avatar-list [avatars]="item.members"></app-avatar-list>
  </app-card-with-avatar-and-checklist>
</app-presentation>
