<app-presentation
  [titleOfPage]="'Welcome to our software!'"
  [subtitleOfPage]="'Select a team below to get started'"
>
  <h2>Teams</h2>
  <div class="row">
    <app-simple-card
      class="col-lg-6"
      *ngFor="let item of teamsList$ | async"
      [title]="item.name"
      [subtitle]="
        item.projects.length + ' Projects, ' + item.members.length + ' Members'
      "
      [id]="'/teams/' + item.id"
    ></app-simple-card>
  </div>
  <h2>Members</h2>
  <div class="row">
    <app-avatar-card
      class="col-lg-6"
      *ngFor="let item of employeesList$ | async"
      [avatar]="item.avatarUrl"
      [fullName]="item.firstName + ' ' + item.lastName"
      [position]="item.position"
      [redirectUrl]="item.id"
    ></app-avatar-card>
  </div>
</app-presentation>
