<app-presentation
  [titleOfPage]="'Welcome to our software!'"
  [subtitleOfPage]="'Select a team below to get started'"
>
  <h2>Teams</h2>
  <app-card
    *ngFor="let item of teamsList$ | async"
    [title]="item.name"
    [subtitle]="
      item.projects.length + ' Projects, ' + item.members.length + ' Members'
    "
  ></app-card>
  <h2>Members</h2>
  <app-avatar-card
    *ngFor="let item of employeesList$ | async"
    [avatar]="item.avatarUrl"
    [fullName]="item.firstName + ' ' + item.lastName"
    [position]="item.position"
  ></app-avatar-card>
</app-presentation>
