<div class="tab-content">
  <div
    class="tab-pane fade active show"
    id="teams"
    role="tabpanel"
    data-filter-list="content-list-body"
  >
    <div class="content-list">
      <div class="row content-list-head">
        <div class="col-auto">
          <h3>{{ optionOne }}</h3>
        </div>
      </div>
      <div class="content-list-body row filter-list-1685722284668">
        <ng-content select="[app-simple-card]"></ng-content>
      </div>
    </div>
  </div>
  <!--end of tab-->
  <div
    class="tab-pane fade"
    id="projects"
    role="tabpanel"
    data-filter-list="content-list-body"
  >
    <div class="content-list">
      <div class="row content-list-head">
        <div class="col-auto">
          <h3>{{ optionTwo }}</h3>
        </div>
      </div>
      <div class="content-list-body row filter-list-1685722284662">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
