<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    [style.width.%]="value"
    [attr.aria-valuenow]="value"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<div class="card card-project">
  <div class="card-body">
    <div class="card-title">
      <h5 data-filter-by="text">
        {{ title }}
      </h5>
    </div>

    <div class="card-meta d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <span class="text-small">{{ subtitle }}</span>
      </div>
    </div>
  </div>
</div>
