<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h5 data-filter-by="text">
        {{ title }}
      </h5>
    </div>
    <div class="card-meta d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <i class="material-icons mr-1">playlist_add_check</i>
        <span class="text-small"
          >{{ completedTask }}/{{ checkListProject }}</span
        >
      </div>
      <span class="text-small SPAN-filter-by-text" data-filter-by="text"
        >Due {{ dueDate }} days</span
      >
    </div>
  </div>
</div>
