<app-presentation
  *ngFor="let team of teamsList$ | async"
  [titleOfPage]="team.name"
  [subtitleOfPage]="team.description"
>
  <app-avatar-list
    appCursorPointer
    app-avatar-list
    [avatars]="team.members"
  ></app-avatar-list>
  <app-tabset [navTitle]="'Projects'">
    <app-simple-card
      class="col-lg-6"
      *ngFor="let projects of team.projects"
      [title]="projects.name"
      [subtitle]="
        'Due on ' + (projects.dueDate | date : 'mediumDate' : 'UTC-1')
      "
      [redirectUrl]="'/projects'"
    ></app-simple-card
  ></app-tabset>
</app-presentation>
