<div class="d-flex align-items-center">
  <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
    <br />
    <ul class="navbar-nav d-lg-block">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tasks">Tasks</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/employees">Employees</a>
      </li>
    </ul>
    <hr />
  </div>
</div>
